<section class="main-section">
    <div class="topics">
        <h2>Como usar?</h2>
        <div class="topics-text">
            <p>
                Para usar nossa plataforma, o professor deve primeiro selecionar o segmento correspondente à sua disciplina. Em seguida, basta fazer o upload do PDF da atividade que 
                deseja adaptar. Na etapa seguinte, é fundamental descrever detalhadamente o aluno, especificando suas condições e dificuldades. Caso tenha uma sugestão de como gostaria 
                que a atividade fosse adaptada, inclua essa informação. Quanto mais específica for a descrição, melhor a IA poderá gerar soluções personalizadas, garantindo que a adaptação 
                atenda às necessidades individuais do aluno de forma eficaz e inclusiva.
            </p>
        </div>
    </div>

    <div class="topics">
        <h2>Nosso propósito</h2>
        <div class="topics-text">
            <p>
                Nosso propósito é apoiar educadores na criação de ambientes de aprendizado inclusivos e adaptados às necessidades de cada aluno. 
                Acreditamos fielmente que todos têm o direito de aprender e crescer em um ambiente que respeite suas singularidades. Com o auxílio da IA do Google Gemini, 
                fornecemos ferramentas que ajudam professores, pais e/ou responsáveis a adaptar atividades e aulas, promovendo a inclusão de alunos com diferentes tipos de condições. 
                Nossa missão é auxiliar os educadores com a tecnologia, até onde seu alcance permite, para que possam se dedicar ao que mais importa: compreender e apoiar cada aluno de 
                maneira humana e sensível, garantindo que cada estudante alcance seu máximo potencial.
            </p>
        </div>
    </div>

    <div class="topics">
        <h2>Créditos</h2>
        <div class="topics-text">
            <p>
                Esta página foi idealizada e desenvolvida por mim, <a href="https://www.linkedin.com/in/gabriel-montrone/" target="_blank">Gabriel Montrone</a>, com o objetivo de facilitar o trabalho dos educadores na inclusão de alunos com diferentes necessidades. 
                O repositório do projeto estará disponível abaixo para desenvolvedores que desejam contribuir e ajudar a melhorar ainda mais a plataforma. Um agradecimento especial 
                ao meu amigo <a href="https://www.linkedin.com/in/luiz-henrique-davoglio-soares-a0b60919a/" target="_blank">Luiz Davoglio</a>, responsável por todo o design UX, cuja visão tornou a experiência mais acessível e intuitiva para todos os usuários.
            </p>
        </div>
    </div>

    <div class="footer">
        <a href="https://github.com/gabrielmontrone/frontend-obomprofessor/tree/main/public" target="_blank" class="icons"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/gabriel-montrone/" target="_blank" class="icons"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</section>